<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.exrick.xboot.modules.base.dao.mapper.SdLoanUserMapper">

    <select id="findAll" resultType="cn.exrick.xboot.modules.back.entity.SdLoanUser">
      SELECT * from sd_loan_user where user_id = 1
    </select>

</mapper>